{% extends "page.twig" %}

{% block content %}
<div class="jumbotron">
    <div class="container p-4 text-center">
        <h1 style='font-size:10em; color: #A22324'>
                404
            </h1>
            <h2>This page does not exist <i class="fa fa-search" aria-hidden="true"></i></h2>
            <br>
            <p >
                Please visit another page <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <a href="?page=home" class="btn btn-primary">Go back home</a>
            </p>
            
        </div>
    </div>
{% endblock content %}