
{% extends "page.twig" %}

{% block customstyles %}
    <link rel="stylesheet" href="css/distributors.css">
{% endblock customstyles %}

{% block header %}
    <div class='masthead'>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

                
    <div class="jumbotron">
  
            <div class="container">
            <div class= "container" style= "text-align:center;">
            <h3> Distributors</h3>
            <p> Distributors listed below are official distributors of QianLi <p>
            </div>
            <hr>
                <!-- Put your content here-->
                    <div class = "container contStyle">
                         <div class="row justify-content-center">
                      
                            <div class="col-lg-3 mx-3 align-self-center">
                            
                                <div style='background-image:url("resources/distributorimages/dis1.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                           
                            </div>

                            <div class="col-lg-3 mx-3 align-self-center">
                           
                                <div style='background-image:url("resources/distributorimages/dis2.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                            
                            </div>

                            <div class="col-lg-3 mx-3 align-self-center">
                            
                                <div style='background-image:url("resources/distributorimages/dis3.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                            
                            </div>
                        </div>    
                    
                        <div class="row justify-content-center">
                            
                            <div class="col-lg-3 mx-3 align-self-center">
                                    
                                <div style='background-image:url("resources/distributorimages/dis4.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                                
                            </div>

                            <div class="col-lg-3 mx-3 align-self-center">
                                    
                                <div style='background-image:url("resources/distributorimages/dis5.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                                
                            </div>

                            <div class="col-lg-3 mx-3 align-self-center">
                                    
                                <div style='background-image:url("resources/distributorimages/dis6.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                                
                            </div>
                        </div>   

                        <div class="row justify-content-center">
                            
                            <div class="col-lg-3 mx-3 align-self-center">
                                
                                <div style='background-image:url("resources/distributorimages/dis7.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                            
                            </div>

                            <div class="col-lg-3 mx-3 align-self-center">
                                
                                <div style='background-image:url("resources/distributorimages/dis8.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                                
                            </div>

                            <div class="col-lg-3 mx-3 align-self-center">
                            
                                <div style='background-image:url("resources/distributorimages/dis9.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                            
                            </div>
                        </div> 
                    
                        <div class="row justify-content-center">
                            
                            <div class="col-lg-3 mx-3 align-self-center">
                                
                                <div style='background-image:url("resources/distributorimages/dis10.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                            
                            </div>

                            <div class="col-lg-3 mx-3 align-self-center">
                                
                                <div style='background-image:url("resources/distributorimages/dis11.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                                
                            </div>

                            <div class="col-lg-3 mx-3 align-self-center ">
                            
                                <div style='background-image:url("resources/distributorimages/dis12.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                                
                            </div>
                        </div>
                        
                        <div class="row justify-content-center">
                            
                            <div class="col-lg-3 mx-3 align-self-center">
                                
                                <div style='background-image:url("resources/distributorimages/dis13.png")' class ="img-thumbnail mx-auto d-block disImage"></div>
                            
                            </div>
                        </div>

                    </div>
                    <hr>

            </div>
         </div>

{% endblock content %}