<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Vending</h3>
                        <ul>
                            <li><a href="?page=buying">Where to buy</a></li>
                            <li><a href="?page=distributors">Distributors</a></li>
                            <li><a href="https://qianlispace.en.alibaba.com">Alibaba store</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <a href="?page=contact" class="text-decoration-none"><h3 style="text-decoration:none; color: #EBF4FA">Contact</h3></a>
                        <ul>
                            <li><a href="?page=contact">Contact us</a></li>
                            <li><a href="?page=contact&focus=mail">E-mail us</a></li>
                            <li><a href="?page=contact&focus=adress">Address</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <a href="?page=about" class="text-decoration-none"><h3 style="text-decoration:none; color: #EBF4FA">About us</h3></a>
                        <ul>
                            <li><a href="?page=about&focus=stories">Stories</a></li>
                            <li><a href="?page=about&focus=team">Team</a></li>
                            <li><a href="?page=about&focus=career">Career</a></li>
                        </ul>
                    </div>
                    <div class="col item social">
                      <a href="https://www.facebook.com/profile.php?id=100013767042137"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://twitter.com/Fancy_Qianli"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="https://www.instagram.com/qianli_and_tool_plus"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="?page=contact"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    </div>
                </div>
                <p class="copyright">QianLi ToolPlus Co., Ltd. © 2019</p>
            </div>
        </footer>
    </div>
